.profile .more-info, 
.profile .more-info code {
  font-family: var(--global-font-family) !important;
  background-color: transparent !important;
  color: var(--global-text-color) !important;
  font-size: 1rem !important;
}
